<div>
  <h2 id="page-heading" data-cy="AuctionHeading">
    <span jhiTranslate="auctionApp.auction.home.title">Auctions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="auctionApp.auction.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-auction"
        [routerLink]="['/auction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="auctionApp.auction.home.createLabel"> Create a new Auction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="auctions?.length === 0">
    <span jhiTranslate="auctionApp.auction.home.notFound">No auctions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="auctions && auctions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="bidStartTime">
            <span jhiTranslate="auctionApp.auction.bidStartTime">Bid Start Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bidEndTime">
            <span jhiTranslate="auctionApp.auction.bidEndTime">Bid End Time</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="auctionApp.auction.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ccy"><span jhiTranslate="auctionApp.auction.ccy">Ccy</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="productId.id">
            <span jhiTranslate="auctionApp.auction.productId">Product Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let auction of auctions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/auction', auction.id, 'view']">{{ auction.id }}</a>
          </td>
          <td>{{ auction.bidStartTime | formatMediumDatetime }}</td>
          <td>{{ auction.bidEndTime | formatMediumDatetime }}</td>
          <td>{{ auction.amount }}</td>
          <td>{{ auction.ccy }}</td>
          <td>
            <div *ngIf="auction.productId">
              <a [routerLink]="['/product', auction.productId?.id, 'view']">{{ auction.productId?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/auction', auction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/auction', auction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(auction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
