<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="auctionApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.product.productname" for="field_productname">Productname</label>
          <input
            type="text"
            class="form-control"
            name="productname"
            id="field_productname"
            data-cy="productname"
            formControlName="productname"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.product.productSpecification" for="field_productSpecification"
            >Product Specification</label
          >
          <input
            type="text"
            class="form-control"
            name="productSpecification"
            id="field_productSpecification"
            data-cy="productSpecification"
            formControlName="productSpecification"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.product.actualCost" for="field_actualCost">Actual Cost</label>
          <input
            type="number"
            class="form-control"
            name="actualCost"
            id="field_actualCost"
            data-cy="actualCost"
            formControlName="actualCost"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.product.ccy" for="field_ccy">Ccy</label>
          <input type="text" class="form-control" name="ccy" id="field_ccy" data-cy="ccy" formControlName="ccy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.product.creationDate" for="field_creationDate">Creation Date</label>
          <div class="d-flex">
            <input
              id="field_creationDate"
              data-cy="creationDate"
              type="datetime-local"
              class="form-control"
              name="creationDate"
              formControlName="creationDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.product.productCategoryId" for="field_productCategoryId"
            >Product Category Id</label
          >
          <select
            class="form-control"
            id="field_productCategoryId"
            data-cy="productCategoryId"
            name="productCategoryId"
            formControlName="productCategoryId"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                productCategoryOption.id === editForm.get('productCategoryId')!.value?.id
                  ? editForm.get('productCategoryId')!.value
                  : productCategoryOption
              "
              *ngFor="let productCategoryOption of productCategoriesSharedCollection; trackBy: trackProductCategoryById"
            >
              {{ productCategoryOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.product.locationId" for="field_locationId">Location Id</label>
          <select class="form-control" id="field_locationId" data-cy="locationId" name="locationId" formControlName="locationId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="locationOption.id === editForm.get('locationId')!.value?.id ? editForm.get('locationId')!.value : locationOption"
              *ngFor="let locationOption of locationsSharedCollection; trackBy: trackLocationById"
            >
              {{ locationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
