<div>
  <h2 id="page-heading" data-cy="BidHeading">
    <span jhiTranslate="auctionApp.bid.home.title">Bids</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="auctionApp.bid.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bid"
        [routerLink]="['/bid/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="auctionApp.bid.home.createLabel"> Create a new Bid </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bids?.length === 0">
    <span jhiTranslate="auctionApp.bid.home.notFound">No bids found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bids && bids.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="auctionApp.bid.bidTime">Bid Time</span></th>
          <th scope="col"><span jhiTranslate="auctionApp.bid.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="auctionApp.bid.ccy">Ccy</span></th>
          <th scope="col"><span jhiTranslate="auctionApp.bid.userId">User Id</span></th>
          <th scope="col"><span jhiTranslate="auctionApp.bid.auctionId">Auction Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bid of bids; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bid', bid.id, 'view']">{{ bid.id }}</a>
          </td>
          <td>{{ bid.bidTime | formatMediumDatetime }}</td>
          <td>{{ bid.amount }}</td>
          <td>{{ bid.ccy }}</td>
          <td>
            <div *ngIf="bid.userId">
              <a [routerLink]="['/users', bid.userId?.id, 'view']">{{ bid.userId?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="bid.auctionId">
              <a [routerLink]="['/auction', bid.auctionId?.id, 'view']">{{ bid.auctionId?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bid', bid.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/bid', bid.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bid)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
