<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-bid-heading" data-cy="BidCreateUpdateHeading" jhiTranslate="auctionApp.bid.home.createOrEditLabel">
        Create or edit a Bid
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.bid.bidTime" for="field_bidTime">Bid Time</label>
          <div class="d-flex">
            <input
              id="field_bidTime"
              data-cy="bidTime"
              type="datetime-local"
              class="form-control"
              name="bidTime"
              formControlName="bidTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.bid.amount" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.bid.ccy" for="field_ccy">Ccy</label>
          <input type="text" class="form-control" name="ccy" id="field_ccy" data-cy="ccy" formControlName="ccy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="auctionApp.bid.auctionId" for="field_auctionId">Auction Id</label>
          <select class="form-control" id="field_auctionId" data-cy="auctionId" name="auctionId" formControlName="auctionId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="auctionOption.id === editForm.get('auctionId')!.value?.id ? editForm.get('auctionId')!.value : auctionOption"
              *ngFor="let auctionOption of auctionsSharedCollection; trackBy: trackAuctionById"
            >
              {{ auctionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
